.closet-swiper {
   user-select: none;
   /* 텍스트 선택 방지 */
   -webkit-user-select: none;
   /* 크롬, 사파리 */
   -ms-user-select: none;
   /* 인터넷 익스플로러 */
   width: 100%;
   height: 400px;
}

.closet-swiper-slide {
   text-align: center;
   font-size: 18px;
   /* background: #fff; */

   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
}

.closet-swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
