header {
   margin-bottom: 57px;
}

nav {
   position: fixed;
   width: 100%;
   background-color: var(--skyblue-color);
   height: 57px;
   z-index: 99999;
   border-bottom: var(--skyhighlight-color) solid 1px;
}

ul {
   height: 100%;
   width: 1200px;
   margin: 0 auto;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
}

.left-menu {
   max-height: 57px;
   display: block;
   display: flex;
   align-items: center;
   gap: 10px;
}

.right-menu {
   display: flex;
   align-items: center;
   gap: 10px;
}

li {
   list-style: none;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 10px 20px;
   text-decoration: none;
}

li .active:not(.logo-link){
   border-radius: 5px;
   background-color: var(--skyhighlight-hover-color);
   border: var(--skyhighlight-color) solid 1px;
}

li:not(:first-child) a:hover:not(.active) {
   border-radius: 5px;
   background-color: var(--skyhighlight-hover-color);
}

.right-selects {
   display: flex;
   gap: 10px;
}

.right-selects select {
   padding: 10px 20px;
   background-color: var(--skyhighlight-dark-color);
   color: white;
   border: var(--skyhighlight-dark-color) solid 1px;
   border-radius: 5px;
}

.login {
   background-color: #448ada;
}

.login a {
   color: white;
   padding: 16.3px 20px;
   text-decoration: none;
   font-weight: bold;
}

.logo-link {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 0;
}

.logo-link img {
   max-height: 50px;
}

.logo-link .logo-text {
   color: white;
   font-size: 16px;
}